html {
height: 100%;
width: 100%;
}

li{
  display:inline;
background-color: white
color: black; 
padding: 20px;
text-align: center;
font size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.galerija-container {
max-width: 700px;
position: relative;
margin: auto;
margin-top: 50px;
}

.myslides {
display: none;
}

.myslides img {
width: 100%;
height: auto;
border-radius: 10px;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
background-color: rgba(0,0,0,0.8);
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.9);
}

.dot-container {
text-align: center;
padding: 20px;
}

.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #a61717;
  color: white;
  padding: 10px 0;
  text-align: center;
}

