html {
  height: 100%;
  width: 100%;
}


  li{
    display:inline;
  background-color: white
  color: black; 
  padding: 20px;
  text-align: center;
  font size: 30px;
    margin-top: 40px;
    margin-


h2 {
  font-size: 23px;
  justify-content: center;
  font-family: sans-serif;
  color: black;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

p {
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}


   li{
     background-color: white
     color: black; 
     padding: 20px;
     text-align: center;
     font size: 30px;
       margin-top: 80px;
       margin-bottom: 40px;
       margin-left: 40px;
       margin-right: 40px;
   }

.sarkanie {
  justify-content: center;
  margin-bottom: 40px;
  gap: 60px;
  display: flex;
  padding left :180px;
  padding right: 180px;
  padding top: 190px;
  padding bottom: 190px;
}

.pelekie {
  justify-content: center;
  row gap: 60px;
  gap: 60px;
  display: flex;
  padding left :180px;
  padding right: 180px;
  padding top: 190px;
  padding bottom: 190px;
}

.eee{
  flex-direction: row-reverse;
}

.galerija {
  background-color: white;
  width: 700px;
  height: 500px;  
  border-radius: 200px;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.galerija img {
  width: 100px;
  height: auto;
  border-radius: 150px;;
  cursor: pointer;;
}